@{
    Layout = null;
}

<!DOCTYPE html>

<html ng-app="demoModule">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

    @Html.Raw(JSNLog.JavascriptLogging.Configure())
    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/logToServer.js"></script>
    <script src="~/Scripts/demo.js"></script>

    <style>
        .button-row {
            padding: 10px;
        }
        button {
            width: 100px;
        } 
    </style>
</head>
<body ng-controller="DemoController as demoController">
    <div>
        <div class="button-row">
            <button ng-click="demoController.throw()">Throw</button>
            Accesses an unknown variable 'xyz' to cause a client side exception in JavaScript, which will be logged by JSNLog.
        </div>
        <div class="button-row">
            <button ng-click="demoController.sendWait(0)">Wait 0</button>
            Server doesn't wait before sending response. All fine, so nothing will be logged.
        </div>
        <div class="button-row">
            <button ng-click="demoController.sendWait(3000)">Wait 3000</button>
            Server waits 3000 ms before sending response - JSNLog will log warning for slow response.
        </div>
        <div class="button-row">
            <button ng-click="demoController.sendWait(6000)">Wait 6000</button>
            Server waits 6000 ms before sending response - AJAX call will time out after 5000 ms. This will be logged.
        </div>
        <div class="button-row">
            <button ng-click="demoController.sendWait(-1)">Wait -1</button>
            Server throws exception, sends error response.
        </div>

        <div id="spinner" style="display: none;"><img src="/Images/ajax-loader.gif" /></div>
        <div id="message"></div>
    </div>
</body>
</html>
